

  .ft {
    width: 100%;
    
    padding: 65px; 
    margin-bottom: 20px;
    margin-top: 80px;
    margin-right: 300px;
    text-align: left; 
    background-color: rgb(192, 192, 192);
    color: white; 
    display: block;
   
  }
  .center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }  

body {
  background-image: linear-gradient(to top, #ecedee 0%, #eceeef 75%, #e7e8e9 100%);
    min-height: 100vh;
    font: normal 16px sans-serif;
    padding: 1px 0;
}

.container.gallery-container {
  background-color: #fff;
  color: #35373a;
  min-height: 100vh;
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}












