


  .container1 {
      max-width: 1210px;
      margin: auto;
      background: #f2f2f2;
      overflow: auto;
  }

 
iframe {

   margin-left: 300px;
   margin-right: 1400px;
}



.gallery1 {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 390px;
}


  .gallery1 img {
      width: 100%;
      height: auto;
      
  }

  .desc1 {
      padding: 15px;
      text-align: center;
  }

 

footer {

    width: 100%; 
    padding: 65px; 
    margin-bottom: 20px;
    margin-top: 10px;
    margin-right: 300px;
    text-align: left; 
    background-color: rgb(192, 192, 192);
    color: white; 
    display: block;
   
}

.ft {
    top: 0;
    width: 100%;
}



body {
    background-image: linear-gradient(to top, #ecedee 0%, #eceeef 75%, #e7e8e9 100%);
    min-height: 100vh;
    font: normal 16px sans-serif;
    padding: 1px 0;
}

  .container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
  }
  